@font-face{
	font-family: 'Open-Sans';
	src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face{
	font-family: 'OpenSans-Light';
	src: url("../fonts/static/OpenSans/OpenSans-Light.ttf");
	font-size: 1em;
}

header{
	width: 100%;
	height: 150px;
	background-color: rgba(94, 41, 154, 0.8);
	z-index: 2;
	position: relative;
}

header .container{
	position: relative;

}

header .header-black{

	background-color: #000;
	height: 40px;

}

header .header-black li{

	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px;

}

header .header-black li.club-01{
	background-position: 0px 0px;
}

header .header-black li.club-02{
	background-position: -48px 0px;
}

header .header-black li.club-03{
	background-position: -90px 0px;
}

header .header-black li.club-04{
	background-position: -138px 0px;
}

header .header-black li.club-05{
	background-position: -190px 0px;
}

header .header-black li.club-06{
	background-position: -240px 0px;
}

header .header-black li.club-07{
	background-position: -287px 0px;
}

header .header-black li.club-08{
	background-position: -332px 0px;
}

header .header-black li.club-09{
	background-position: -379px 0px;
}

header .header-black li.club-10{
	background-position: -428px 0px;
}

header .header-black li.club-11{
	background-position: -477px 0px;
}

header .header-black li.club-12{
	background-position: -527px 0px;
}

header .header-black li.club-13{
	background-position: -578px 0px;
}

header .header-black li.club-14{
	background-position: -627px 0px;
}

header .header-black li.club-15{
	background-position: -670px 0px;
}

header .header-black li.club-16{
	background-position: -717px 0px;
}
header .header-black li.club-17 {
	background-position: -763px 0px;
}
header .header-black li.club-18 {
	background-position: -808px 0px;
}
header .header-black li.club-19 {
	background-position: -853px 0px;
}
header .header-black li.club-20 {
	background-position: -900px 0px;
}
header .header-black li.club-21 {
	background-position: -950px 0px;
}
header .header-black li.club-22 {
	background-position: -1000px 0px;
}


header .header-black li a {
	width: 32px;
	height: 32px;
	display: block;
}

header #logotipo{
	position: absolute;
	top: 20px;
	margin-left: -250px;
}

header .row{
	margin-left: 520px;
}

#menu{
	margin: 26px 0px;
}

#menu li{
	display: inline-block;
	font-family: "Open-Sans";
}

#menu li.search ::-webkit-input-placeholder{
	color: #fff;
}

#menu li a{
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
}

#menu li.search {
	width: 182px;
}

#menu li.search button{
	background: none;
	border: none;
	position: absolute;
	right: 3px;
	top: 3px;
}

#menu li.search button i{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

#menu li.search input {
	background-color: #5C2D90;
	color: #fff;
	border: none;
	height: 30px;
	line-height: 30px;
}

#banner {
	width: 100%;
	height: 728px;
	position: relative;
	top: -270px;
}

#banner img{
	width: 100%;
	height: 728px;
	top: -270px;
}

#banner h1{
	color: #fff;
	top: 300px;
	position: relative;
	font-size: 92px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
	font-family: "OpenSans-Light";
	font-weight: bold;
	margin-left: 100px;
}

#banner h1 small{
	font-size: 32px;
	display: block;
}

#news {
	position: relative;
    top: -110px;

}
#news h2 {
	color:#5E2799;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
}
#news hr {
	border:#FDE192 solid 2px;
	width: 200px;
	margin: 0 auto;
}
#news .thumbnails {
	margin-top: 20px;
}
#news .thumbnails h3 {
	color: #5E299A;
	font-size: 18px;
	font-family: 'OpenSans';
	font-weight: bold;
	margin-bottom: 0;
}
#news .thumbnails time {
	color:#A7A7A7;
	font-size: 18px;
	font-family: 'OpenSans';
}

#news .text-center {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

#estatisticas{
	background-color: #5E299A;
	width: 100%;
	height: 200px;
	text-align: center;
}

#estatisticas p{
	color: #FDE092;
	text-transform: uppercase;
	font-family: 'OpenSans-Light';
	font-size: 64px;
	margin-top: 36px;
}

#estatisticas p small{
	color: #fff;
	font-size: 24px;
	display: block;
}

#call-to-action{
	text-align: center;
}

#call-to-action h2{
	color: #5E2799;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;

}

#call-to-action hr{
	border:#FDE192 solid 2px;
	width: 200px;
	margin: 0 auto;
}

#call-to-action .text-center {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

#call-to-action .btn-roxo{
	color: #fff;
	background-color: #5E299A;
	border-color: #5E299A;
	min-width: 164px;
	height: 44px;

}

#call-to-action .btn-amarelo{
	color: #000;
	background-color: #FDE192;
	border-color: #FDE192;
	min-width: 164px;
	height: 44px;

}

footer{
	margin-top: 110px;
}

footer .row p{
	line-height: 64px;
	margin-bottom: 0;
}

footer .row-cinza-claro{
	height: 200px;
	background-color: #171F26;
}

footer .row-cinza-escuro{
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid;
}
footer .pull-left{
	font-family: 'OpenSans';
	font-size: 14px;
	color: #666;
}

footer .text-roxo{
	color: #623291;
	font-family: 'OpenSans';
	font-weight: bold;
}